.FirstSlide
{
	background-color: #5a5a5a;
	display: inline-block;
	width: 100%;
}
.FirstSlideBottom
{

	height: 250px;
	background-color: #bebebe;
	width: 100%;
	margin-top: -145px;
}
.SubPictureTitle
{
	font-size: 2.2em;
	font-family: Tahoma;
	/*font-weight: 700;*/
}
#SoftwareIcon
{
	display: inline-block;
	height: 208px;
	width: 208px;

	background-repeat: no-repeat;
	background-image: url('../recorces/software.png');
}
#GraphicsIcon
{
	display: inline-block;
	height: 208px;
	width: 208px;

	background-repeat: no-repeat;
	background-image: url('../recorces/graphics.png');
}
#WebDesingIcon
{
	display: inline-block;
	height: 208px;
	width: 208px;

	background-repeat: no-repeat;
	background-image: url('../recorces/webdesing.png');
}




.WhiteSlide
{
	background-color: #dcdada;
	/*height: 500px;*/
}
.TitleBlack
{
	color: #414141;
	font-size: 7em;
	font-family: Tahoma;
}
.SubTitleBlack
{
	color: #282828;
	font-size: 2.2em;
	font-family: Tahoma;
}
.TextBlock
{
	text-align: left;
	width: 300px;
	padding-left: 30px;
	padding-top: 10px;
	font-size: 1.3em;
}
#BrowserImages
{
	max-width: 685px;
	width: 100%;
	display: inline-block
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select:none;
}
#ScreensImages
{
	max-width: 649px;
	width: 100%;
	display: inline-block;
}
#PlatformsImages
{
	max-width: 431px;
	width: 100%;
	display: inline-block;
}


.ThirdSlide
{
	background-color: #525252;
}
.TitleWhite
{
	color: white;
	font-size: 7em;
	font-family: Tahoma;
}
#SoftwareImage
{
	max-width: 450px;
	width: 100%;
	display: inline-block;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select:none;
}
.SubTitleWhite
{
	color: white;
	font-size: 2.2em;
	font-family: Tahoma;
	padding-bottom: 10px;
}