html, body
{
	margin: 0;
	padding: 0;
	text-align:center;
}

body
{
	background: #fcfcfc; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #fcfcfc 0%, #e6e6ed 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fcfcfc), color-stop(100%,#e6e6ed)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #fcfcfc 0%,#e6e6ed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #fcfcfc 0%,#e6e6ed 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #fcfcfc 0%,#e6e6ed 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #fcfcfc 0%,#e6e6ed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e6e6ed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


#mainSlider #sliderButtons
{
	background-color: red;
}

#mainSlider .Button
{
	background-color: green;
	display: inline-block;
	margin-left: 25px;
	margin-right: 25px;
}

#mainSlider .itemContainer
{
	display: none;
}
#mainSlider .selected
{
	display: inline-block;
}